{% capture html_fullbanner %}{% endcapture %}

<div class="page-about">
  {% load_banners position: 'sobre-banner-principal' %}
  {% for banner in loaded_banners limit: 1%}
    {% assign title = '' %}
    {% assign upper_title = '' %}
    {% if banner.subtitle contains '|' %}
      {% assign title = banner.subtitle | split: '|' | first %}
      {% assign upper_title = banner.subtitle | split: '|' | last %}
    {% else %}
      {% assign title = banner.subtitle %}
    {% endif %}
    <div class="fullbanner">
      <figure>
        <img class="lazy" data-src="{{ banner.file_url | resize:'2000x' }}" alt="{{ banner.title }}" loading="lazy"/>
        <div class="skeleton"></div>
      </figure>
      <div class="container">
      <div class="content">
          {% if upper_title != blank %}
            <h4 class="upper-title">
              {{ upper_title }}
            </h4>
          {% endif %}
          <h1 class="title">{{title}}</h1>
        </div>
      </div>
    </div>
  {% endfor %}

  {% load_banners position: 'sobre-conteudo' %}
  {% for banner in loaded_banners %}
    <div class="container text-content">
      <h2 class="subtitle">{{banner.subtitle}}</h2>
      <div class="description">
        {{banner.description}}
      </div>
    </div>
  {% endfor %}

  {% if page.body %}
    {{ page.body }}
  {% endif %}
</div>
