<!doctype html>
<html lang="{{ language }}">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="initial-scale=1, width=device-width, maximum-scale=1" name="viewport" />

    <link rel="shortcut icon" href="{{ 'favicon.ico' | favicon_path }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'favicon/apple-touch-icon.png' | image_path }}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'favicon/favicon-32x32.png' | image_path }}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'favicon/favicon-16x16.png' | image_path }}" />
    <link rel="manifest" href="{{ 'favicon/manifest.json' | image_path }}" />

    <meta name="msapplication-TileColor" content="#000" />
    <meta name="msapplication-TileImage" content="{{ 'favicon/android-chrome-192x192.png' | image_path }}" />
    <meta name="theme-color" content="#000" />

    <link rel="stylesheet" type="text/css" href="/main.css" inline />
    <link rel="stylesheet" href="{{ 'style.css' | stylesheet_path }}" media="print" onload="this.media='all'" />
    
    {{ content_for_head }}
  </head>

  {% assign template_class = 'page-'| append: template | replace: '/','-' | replace: '_','-' %}

  {% assign img_logo = 'https://via.placeholder.com/410x210' %} 

  {% load_shop_images  position: "logo" %} 

  {% if loaded_shop_images.size > 0 %} 
    {% assign img_logo = loaded_shop_images | first | map: 'url' | first %} 
  {% endif %} 

  <body class="{{ template_class }}" data-page="{{ template }}">
    <div class="wrapper" id="wrapper">
      {% render 'partials/common/top_bar' %}
      {% render 'partials/common/header', template: template, search_url: search_url, account_url: account_url, current_shop: current_shop, img_logo: img_logo %}

      <main>
        {{ yield }}
      </main>

      {% render 'partials/common/footer', current_shop: current_shop, img_logo: img_logo %}
      {% render 'partials/common/popup_newsletter', current_shop: current_shop %}
      {% render 'partials/common/cart_drawer' %}
      {% render 'partials/common/icons' %}
    </div>
    
    <script src="{{ 'jquery.min.js' | javascript_path }}"></script>
    <script async src="{{ 'price.v6.js' | component_path }}"></script>
    
    {{ content_for_body }}
    
    <script src="{{ 'main.js' | javascript_path }}"></script>
    
    <script>
      window.lazyLoadOptions = {
        elements_selector: ".lazy",
        threshold: 600,
        callback_loaded: (el) => {
          const element = el.closest('.MagicZoom');
          if (element && element.id) {
            MagicZoom && MagicZoom.refresh(element.id);
          }
        },
      };

      window.addEventListener(
        "LazyLoad::Initialized",
        function (event) {
          window.lazyLoadInstance = event.detail.instance;
        },
        { passive: true }
      );
    </script>
    <script async src="{{ 'lazyload.min.js' | javascript_path }}"></script>
  </body>
</html>
